.header {
  display: flex;
  justify-content: space-between;
  padding: 92px 24px 93px 24px;
}

.header_logo {
  width: 148px;
  height: 105px;
  margin-right: 140px;
}

.header__menu {
  display: flex;
  gap: 40px;
  margin-top: 47px;
  margin-left: 1px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.18px;
  list-style: none;
}

.header__links-list {
  font-weight: 450;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-decoration: underline;
  text-underline-position: under;
  list-style: circle;
  margin-left: -10px;
}

.header__link_active {
  text-decoration: none;
  margin-left: 25px;
}

.adress {
  width: 240px;
  margin-top: 8px;
  margin-right: 30px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.18px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 176px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 30px;
  color: #ffffff;
}
.title__container {
  display: block;
  margin-bottom: 8px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
text-align: right;
letter-spacing: 60px;

}
.letter-spacing-extended {
  letter-spacing: 60px;
}
.letter-spacing-extended-bottom {
  letter-spacing: 30px;
  margin-right: -30px;
  margin-top: 10;
}

.no-letter-spacing {
  letter-spacing: 0;
}
.cover_description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding-top: 119px;
  padding-left: 30px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.cover_description-text {
  word-spacing: 13px;
}

.bet-button {
  text-align: center;
  width: 256px;
  height: 51px;
  padding-top: 20px;
  margin-top: -15px;
  border: 1px solid;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: none;
  background-color: transparent;
  font-family: Raleway, sans-serif;

}

.lots {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 1052px;
  min-height: 100%;
  padding-top: 210px;
  padding-right: 24px;
  padding-left: 24px;
}

.lots__heading {
  margin: -29px 11px 27px 40px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
.lots__card-list {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lots__look-more-link {
  display: flex;
  justify-content: start;
  width: 192px;
  margin: 3px 13px 2px 40px;
  padding-top: 30px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration-line: underline;
  text-underline-position: under;
}

.card__title {
  z-index: 2;
  width: 254px;
  margin-top: 50px;
  margin-left: 3px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  width: 254px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%; /* 24px */
}

.card-link {
  text-decoration: none;
}

.text_position-film {
  width: 254px;
  height: 82px;
  padding-top: 70px;
}

.text_position-book {
  padding-bottom: 100px;
}

.text_position-picture {
  padding-top: 43px;
}

.card {
  flex-grow: 1;
}
.card_type_film {
  width: 334px;
  min-height: 563px;
  background-color: lightgray;
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_book {
  width: 334px;
  max-height: 563px;
  background-color: lightgray;
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  width: 334px;
  min-height: 563px;
  background-color: lightgray;
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  gap: 25px;
  min-width: 1052px;
  padding-bottom: 100px;
  margin-top: -145px;
  padding-left: 60px;
  }

.about_column {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 25px;
  width: 100%;
  max-width: 1200px;
  padding: 15px;
}
.about__logo {
  flex-shrink: 0;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  transform: translate(33%, 54%);
}
.about__text-chapter {
  padding-top: 560px;
  padding-right: 6900px;
  row-gap: 25px;
  display: flex;
  flex-direction: column;
}
.about__title {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  width: 600px;
  height: px;
  padding-left: 43px;
  white-space: nowrap;
}

.about__text {
  width: 693px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  margin-bottom: -10px;
  margin-left: -325px;
  }

.footer {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-top: 73px;
  margin-left: 47px;
}

.footer__menu-list {
  margin-top: 5px;
  margin-left: -17px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  width: 250px;
 }
.footer__social-list-item {
  display: flex;
  gap: 48px;
  margin-top: 5px;
  margin-left: 15px;
  list-style: none;
}
